@use 'variables' as v;

.characterView  {
  padding: 1rem 0.55rem 5rem;

  nav {
    background-color: v.$secondary-color;
    justify-content : space-around;
  }
}

.charNav {
  border-top: 1px solid v.$primary-color;
}