@use 'variables' as v;

.form-container {
  text-align: center;
}

.form {
  width: 100%;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;

  fieldset {
    display: grid;
    border-top: v.$border;
    border-bottom: none;
    border-left: none;
    border-right: none;
    gap: 1rem;

    legend { font-size: 2rem; }
  }

  label {
    display: grid;
    grid: 1fr / 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: v.$secondary-color;
    font-size: 1.5rem;
    border: v.$border;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .input {
      display: block;
      height: 2.5rem;
      width: 75%;
      font-size: 2rem;
      text-align: center;
      padding: 0;
      margin: auto;
    }
  }

  input[type='number'] { width: 2.5rem; }

  .traits {
    width: 100%;
    display: grid;
    grid: repeat(8, 1fr) / 1fr;
    gap: 1rem;
  }

  .base-stats, .saving-throws { grid: 1fr / 1fr 1fr; }

  input[type='checkbox']{
    display: inline;
    height: 1rem;
  }

  .saving-throws, .skills {
    label {
      grid: 1fr / 2fr 1fr;
      text-align: center;
    }
  }

  .skills { grid: 1fr / 1fr; }

  .optional {
    .input {
      width: 100%;
      height: 1.5rem;
      font-size: 1rem;
    }
  }

  button[type='submit'] {
    width: 75%;
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    background-color: v.$secondary-color;
  }

  .textarea {
    width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .form {
    .traits {
      grid: repeat(4, 1fr) / repeat(12, 1fr);
  
      .name { grid-column: 1 / 7; }
      .race { grid-column: 7 / 13; }
      .level { grid-column: 1 / 4; }
      .class { grid-column: 4 / 13; }
      .ac { grid-column: 3 / 6; }
      .hp { grid-column: 8 / 11; }
      .speed { grid-column: 3 / 6; }
      .hit { grid-column: 8 / 11; }
    }

    .base-stats, .saving-throws { grid: 1fr / 1fr 1fr 1fr; }

    .skills { grid: 1fr / 1fr 1fr; }
  }
}