@use 'variables' as v;

.home {
  display: flex;
  flex-direction: column;
  text-shadow: v.$light-shadow;
  justify-content: center;
  min-height: 91vh;
  gap: 1rem;

  .portraits {
    width: min(100%, 600px);
    align-self: center;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;

    img { width: 100%; }
  }
}