@use 'variables' as v;

.inventoryContainer {
  text-align: center;
  text-shadow: v.$dark-shadow;

  .inventoryGrid {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 1.5rem;

    span { display: block };

    h2 {
      padding: 0.5rem;
      box-shadow: v.$box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .items {
    display: grid;
    grid: 1fr / 1fr;
    gap: 1.5rem;
  }
}

.item {
  display: grid;
  grid: 'name . delete'
    'desc desc desc';
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
  background-color: v.$secondary-color;
  text-shadow: v.$dark-shadow;
  box-shadow: v.$box-shadow;

  &Name { grid-area: name; }

  &Desc {
    grid-area: desc;
    text-align: left;

    hr { margin-top: 0; }

    p {
      padding: 1rem;
      max-height: 15rem;
      overflow-y: scroll;
    }
  }

  &Props {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 1rem;

    .type { grid-column: span 2; }
  }

  &Delete {
    grid-area: delete;
    width: 5rem;
    height: fit-content;
  }
}