@use 'variables' as v;

.inventoryContainer {
  text-align: center;
  text-shadow: v.$dark-shadow;

  .carry-weight {
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    gap: 1.5rem;

    .info {
      padding: 0.5rem;
      box-shadow: v.$box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 2rem;
        background-color: v.$primary-color;
        box-shadow: v.$inset-box-shadow;
        padding: 0.5rem 0;
        width: 5rem;
        margin: auto;
      }
    }
  }

  .items {
    display: grid;
    grid: 1fr / 1fr;
    gap: 1.5rem;
  }
}

.currencies {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.35rem;
  box-shadow: v.$box-shadow;
  background-color: v.$tertiary-color;

  .currency {
    padding: 0.5rem 0.25rem;
    width: 100%;

    h3 {
      margin: 0;
      font-size: 1rem;
    }

    input {
      width: 100%;
      margin: 0.5rem 0 0 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      background-color: v.$primary-color;
      box-shadow: v.$inset-box-shadow;
      padding: 0.5rem 0;
      color: white;
      text-align: center;
      border: none;
      text-shadow: v.$dark-shadow;

      &:focus {
        outline: none;
        caret-color: white;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.item {
  display: grid;
  grid: 'name . delete'
    'desc desc desc';
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
  background-color: v.$secondary-color;
  text-shadow: v.$dark-shadow;
  box-shadow: v.$box-shadow;

  &Name { grid-area: name; }

  &Desc {
    grid-area: desc;
    text-align: left;

    hr { margin-top: 0; }

    p {
      padding: 1rem;
      max-height: 15rem;
      overflow-y: scroll;
    }
  }

  &Props {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 1rem;

    .type { grid-column: span 2; }
  }

  &Delete {
    grid-area: delete;
    width: 5rem;
    height: fit-content;
  }
}