@use 'variables' as v;

.noteGallery {
  text-shadow: v.$dark-shadow;
  text-align: center;
}

.notes-header {
  position: relative;

  .add-note {
    position: absolute;
    top: 0;
    right: 0;

    &-btn {
      font-size: 1.5rem;
      padding: 0 0.75rem;
      background-color: v.$primary-color;

      &:hover {
        background-color: v.$secondary-color;
      }
    }
  }
}

.noteContainer {
  display: grid;
  gap: 1.5rem;

  .note {
    display: grid;
    grid: 1fr / auto 1fr auto;
    justify-items: right;
    padding: 1rem;
    gap: 1rem;
    box-shadow: v.$box-shadow;
    text-align: left;
    width: 100%;

    hr { margin-top: 0; }

    .title { 
      grid-column: 1;
      word-break: break-all;
      margin: 0;
    }

    .desc {
      grid-row: 2;
      grid-column: span 3;
      width: 100%;

      pre {
        box-shadow: v.$box-shadow inset;
        padding: 1rem;
        margin: 0;
        font-family: v.$font;
        font-size: 1.25rem;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
    }

    .options {
      grid-row: 1;
      grid-column: 2;
      width: min-content;

      .btn {
        border: none;
      }

      .dropdown-toggle {
        padding: 0;
        margin: 0.25rem 0 0;
      }

      .dropdown-menu {
        z-index: 1031;
      }

      .button {
        width: 5rem;
        height: 2.5rem;
      }
    }
  }
}

.noteOptions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.note-form {
  input, textarea {
    padding: 0.5rem;
    text-align: left;
  }
}

.display-arrow {
  grid-row: 1;
  grid-column: 3;
  height: 0;
  width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  margin: 0.75rem 0 0;
}