@use 'variables' as v;

.overview {
  text-shadow: v.$dark-shadow;
  text-align: center;

  h2 { margin: 1rem; }

  img {
    width: auto;
    max-height: 18rem; 
    max-width: 100%;
  }

  .baseOverStats {
    display: grid;
    grid: 1fr / repeat(6, 1fr);
    gap: 1rem;

    .abSc {
      box-shadow: v.$box-shadow;
      text-shadow: v.$dark-shadow;
    }
  
    h3 {
      font-size: 1.25rem;
      padding: 0rem;
    }

    p {
      background-color: v.$primary-color;
      box-shadow: v.$dark-shadow inset;
      margin: auto;
      width: 75%;
    }
  }

  .description {
    width: 100%;
    overflow-wrap: break-word;
  }
}