@use 'variables' as v;

.overview {
  text-shadow: v.$dark-shadow;
  text-align: center;

  h2 { margin: 1rem; }

  img {
    width: auto;
    max-height: 18rem; 
    max-width: 100%;
  }

  .ability-scores {
    display: grid;
    grid: 1fr / repeat(6, 1fr);
    gap: 0.5rem;

    .scores {
      box-shadow: v.$box-shadow;
      text-shadow: v.$dark-shadow;
    }
  
    h3 {
      font-size: 1rem;
    }

    .score {
      background-color: v.$primary-color;
      box-shadow: v.$dark-shadow inset;
      margin: auto;
      height: 2rem;
      line-height: 2rem;
      width: 75%;
    }

    .mod {
      position: relative;
      
    }
  }

  .description {
    width: 100%;
    overflow-wrap: break-word;
  }
}