.grid-container {
  padding: 1rem;
}
.grid-container h1 {
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}

.grid {
  margin: auto;
  background-color: #694873;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 2rem;
  width: 90%;
  height: 100%;
  gap: 2rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
}
.grid .newCharItem {
  width: 100%;
}
.grid .charGridItem {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 25rem;
  max-height: 25rem;
  padding: 1rem;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  font-size: 2rem;
}
.grid .charGridItem .newCharItemText {
  text-align: center;
  margin: auto;
  font-size: 2rem;
}
.grid .charGridItem .itemLink {
  width: 100%;
  text-align: center;
}
.grid .charGridItem .itemLink .itemImage {
  max-width: 100%;
  max-height: 50%;
  min-height: 25%;
}

.characterView {
  padding: 1rem 0.55rem 5.5rem;
}
.characterView nav {
  background-color: #694873;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 0 0 2rem;
}
.characterView a {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-top: 1px solid #8B728E;
  font-size: 0.9rem;
}

.active {
  border-top: 1px solid #694873 !important;
}

.combat {
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}

.combatStats {
  display: grid;
  grid: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 1.5rem;
  text-align: center;
}
.combatStats h3 {
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weapons {
  display: grid;
  gap: 1.5rem;
}

.weapon {
  display: grid;
  grid: "name name . damage" "props props props props";
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
}
.weapon .name {
  grid-area: name;
}
.weapon .damage {
  grid-area: damage;
}
.weapon .props {
  grid-area: props;
}
.weapon .props hr {
  margin-top: 0;
}
.weapon .propsDisplay {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-container {
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}

.form {
  width: 100%;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
}
.form fieldset {
  display: grid;
  border-top: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  gap: 1rem;
}
.form fieldset legend {
  float: none;
  font-size: 2rem;
  width: auto;
  padding: 1rem;
}
.form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #694873;
  font-size: 1.5rem;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.form input[type=number] {
  width: 2.5rem;
}
.form .traits {
  width: 100%;
  display: grid;
  grid: repeat(8, 1fr)/1fr;
  gap: 1rem;
}
.form .base-stats, .form .saving-throws {
  grid: 1fr/1fr 1fr;
}
.form input[type=checkbox] {
  display: inline;
  height: 1rem;
}
.form .saving-throws label, .form .skills label {
  text-align: center;
}
.form .skills {
  grid: 1fr/1fr;
}
.form .optional .input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}
.form button[type=submit] {
  width: 75%;
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
}
.form .textarea {
  width: 100%;
}

.grid-2 {
  grid: repeat(2, 1fr)/repeat(6, 1fr);
}
.grid-2 .username, .grid-2 .password {
  grid-column: span 3;
}
.grid-2 .submit {
  grid-column: 2/6;
}

.error {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #8f5260;
}

.modal-form {
  display: grid;
  grid: 1fr/repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  text-align: left;
}
.modal-form label {
  padding: 1rem;
  grid-column: span 3;
  gap: 1rem;
}
.modal-form label input {
  display: block;
  width: 100%;
}
.modal-form button {
  height: -moz-fit-content;
  height: fit-content;
  width: 5rem;
  margin: auto;
}

.label input[type=checkbox] {
  visibility: hidden;
}
.label .checkbox {
  width: 2rem;
  height: 2rem;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
}
.label .checkbox::after {
  content: "";
  display: none;
  position: relative;
  left: 0.75rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.875rem;
  border: solid white;
  border-width: 0 0.25rem 0.25rem 0;
  transform: rotate(40deg);
}
.label input:checked ~ .checkbox {
  background-color: #3a2540;
  box-shadow: 0 0 0.5rem 0.5rem #8B728E;
}
.label input:checked ~ .checkbox::after {
  display: block;
}
.label input[type=number]::-webkit-outer-spin-button,
.label input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input, .textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  color: white;
  text-align: center;
  border: none;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  width: 100%;
}
.input:focus, .textarea:focus {
  outline: none;
  caret-color: white;
}

.textarea {
  resize: none;
}

.home {
  display: flex;
  flex-direction: column;
  text-shadow: 0.2rem 0.2rem 0.25rem #8B728E;
  justify-content: center;
  min-height: 91vh;
  gap: 1rem;
}
.home .portraits {
  width: min(100%, 600px);
  align-self: center;
  display: grid;
  grid: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 1rem;
}
.home .portraits img {
  width: 100%;
}

.inventoryContainer {
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.inventoryContainer .carry-weight {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  gap: 1.5rem;
}
.inventoryContainer .carry-weight .info {
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inventoryContainer .carry-weight .info h3 {
  font-size: 1.2rem;
}
.inventoryContainer .carry-weight .info p {
  font-size: 2rem;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  padding: 0.5rem 0;
  width: 5rem;
  margin: auto;
}
.inventoryContainer .items {
  display: grid;
  grid: 1fr/1fr;
  gap: 1.5rem;
}

.currencies {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.35rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  background-color: #3a2540;
}
.currencies .currency {
  padding: 0.5rem 0.25rem;
  width: 100%;
}
.currencies .currency h3 {
  margin: 0;
  font-size: 1rem;
}
.currencies .currency input {
  width: 100%;
  margin: 0.5rem 0 0 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  padding: 0.5rem 0;
  color: white;
  text-align: center;
  border: none;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.currencies .currency input:focus {
  outline: none;
  caret-color: white;
}
.currencies .currency input::-webkit-outer-spin-button, .currencies .currency input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.items-header {
  margin: 1.5rem 0;
  position: relative;
}
.items-header .add-item {
  position: absolute;
  right: 0;
  top: 0;
}

.item {
  display: grid;
  grid: "name . delete" "desc desc desc";
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
  background-color: #694873;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
}
.itemName {
  grid-area: name;
}
.itemDesc {
  grid-area: desc;
  text-align: left;
}
.itemDesc hr {
  margin-top: 0;
}
.itemDesc p {
  padding: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
}
.itemProps {
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  gap: 1rem;
}
.itemProps .type {
  grid-column: span 2;
}
.itemDelete {
  grid-area: delete;
  width: 5rem;
  height: -moz-fit-content;
  height: fit-content;
}

.noteGallery {
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  text-align: center;
}

.notes-header {
  position: relative;
}
.notes-header .add-note {
  position: absolute;
  top: 0;
  right: 0;
}
.notes-header .add-note-btn {
  font-size: 1.5rem;
  padding: 0 0.75rem;
  background-color: #8B728E;
}
.notes-header .add-note-btn:hover {
  background-color: #694873;
}

.noteContainer {
  display: grid;
  gap: 1.5rem;
}
.noteContainer .note {
  display: grid;
  grid: 1fr/auto auto 1fr;
  justify-items: right;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  text-align: left;
  width: 100%;
}
.noteContainer .note hr {
  margin-top: 0;
}
.noteContainer .note .title {
  grid-column: span 2;
  word-break: break-all;
  margin: 0;
}
.noteContainer .note .desc {
  grid-row: 2;
  grid-column: span 3;
  width: 100%;
}
.noteContainer .note .desc pre {
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
  padding: 1rem;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.noteContainer .note .options {
  grid-row: 1;
  grid-column: 3;
  width: -moz-min-content;
  width: min-content;
}
.noteContainer .note .options .button {
  width: 5rem;
  height: 2.5rem;
}

.noteOptions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.note-form input, .note-form textarea {
  padding: 0.5rem;
  text-align: left;
}

.overview {
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  text-align: center;
  display: grid;
  gap: 1.5rem;
}
.overview h2 {
  font-size: 2rem;
}
.overview img {
  width: auto;
  max-height: 18rem;
  max-width: 100%;
  margin: auto;
}
.overview .header {
  width: 100%;
}
.overview .header hr {
  margin: 0.5rem 0;
}
.overview .info {
  position: relative;
}
.overview .info .name {
  font-size: 3rem;
  margin: 0;
  padding: 0 4rem;
  text-align: center;
  word-break: break-all;
}
.overview .edit-char {
  position: absolute;
  right: 0;
  top: 0.65rem;
}
.overview .ability-scores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  background-color: #694873;
  padding: 0.5rem 0.5rem 0;
}
.overview .ability-scores .scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  width: 16.6%;
}
.overview .ability-scores h4 {
  font-size: 1rem;
}
.overview .ability-scores p {
  margin: 0;
}
.overview .ability-scores hr {
  margin-bottom: 0;
}
.overview .ability-scores .score {
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  margin: 0 0 1rem;
  height: 3.25rem;
  line-height: 2.75rem;
  width: min(85%, 5rem);
  font-size: 1.5rem;
}
.overview .ability-scores .mod {
  position: absolute;
  bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  border-radius: 100%;
  background-color: #3a2540;
  box-shadow: 0 0.15rem 0.5rem #8B728E;
}
.overview .description {
  width: 100%;
  background-color: #694873;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  padding: 0.5rem;
}
.overview .description p {
  overflow-wrap: break-word;
  margin: 0;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.overview .update-char-modal {
  max-height: 70vh;
  overflow-y: scroll;
}
.overview .update-char-modal img {
  max-height: 15rem;
}
.overview .update-char-modal form {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.overview .update-char-modal form label {
  display: flex;
  flex-direction: column;
  background-color: #694873;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.overview .update-char-modal form label input, .overview .update-char-modal form label textarea {
  width: 100%;
  padding: 0.35rem;
}
.overview .update-char-modal form label textarea {
  height: 12rem;
  resize: none;
}
.overview .update-char-modal form .sm-inputs {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.overview .update-char-modal form .sm-inputs .level {
  width: 3.5rem;
}
.overview .update-char-modal form .sm-inputs .race {
  width: 100%;
}

.spells {
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  text-align: center;
}
.spells label {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.spells label select {
  width: 50%;
  margin: auto;
  text-align: center;
}
.spells .saveAttack {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  gap: 2rem;
  text-align: center;
}
.spells .saveAttack p {
  font-size: 1.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.spells .saveAttack span {
  display: block;
}
.spellsDisplay {
  display: grid;
  grid: auto;
  gap: 1.5rem;
}

.addSpellDisplay {
  max-height: 20rem;
  overflow-y: scroll;
}

.spell {
  display: grid;
  grid: "name . delete" "info info info" "desc desc desc";
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  align-items: center;
}
.spell hr {
  margin-top: 0;
}
.spell .name {
  grid-area: name;
}
.spell .info {
  grid-area: info;
}
.spell .info .text {
  display: grid;
  grid: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 1rem;
}
.spell .info h4 {
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
.spell .desc {
  grid-area: desc;
}
.spell .desc .text {
  overflow-y: scroll;
  max-height: 15rem;
  padding: 1rem;
  text-align: left;
}
.spell .delete {
  grid-area: delete;
  width: 5rem;
  height: -moz-fit-content;
  height: fit-content;
}

.stats {
  font-size: large;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  text-align: center;
}
.stats h1 {
  font-size: 3rem;
}
.stats h2 {
  font-size: 2rem;
  margin-top: 2rem;
}
.stats p {
  margin: 0;
}
.stats .stat {
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.stats .stat h3 {
  margin: 0;
}
.stats .stat h4 {
  font-size: 1rem;
}
.stats .stat p {
  border-radius: 0;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.35rem #3a2540 inset;
  color: white;
  text-align: center;
}
.stats .stat p, .stats .stat input {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.stats .genStats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}
.stats .genStats .ac input {
  font-size: 2rem;
}
.stats .genStats .hp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats .genStats .hp hr {
  margin: 0.5rem 0;
}
.stats .genStats .hp .current p {
  font-size: 2.75rem;
}
.stats .genStats .hp .max {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 0.5rem;
}
.stats .genStats .hp .max p {
  font-size: 1rem;
  width: 2.5rem;
}
.stats .genStats .ac, .stats .genStats .hd {
  width: 6rem;
  display: flex;
  flex-direction: column;
}
.stats .genStats .ac input, .stats .genStats .hd input {
  margin-top: 0.5rem;
  height: 4rem;
  width: 5rem;
}
.stats .other {
  display: grid;
  grid: 1fr/repeat(4, 1fr);
  gap: 0.35rem;
  margin-top: 1rem;
  background-color: #3a2540;
  padding: 0;
}
.stats .other h3 {
  font-size: 0.85rem;
}
.stats .other p, .stats .other input {
  width: 3.5rem;
  margin: 0.5rem auto;
}
.stats .other-stat {
  padding: 0.5rem 0;
}
.stats .abilityScores {
  display: grid;
  grid: repeat(2, 1fr)/repeat(3, 1fr);
  background-color: #3a2540;
  padding: 0;
  gap: 0.35rem;
}
.stats .abilityScores h3 {
  margin: 0;
}
.stats .abilityScores hr {
  margin: 0.5rem 0;
}
.stats .abilityScores p {
  font-size: 1.25rem;
}
.stats .abilityScores .score-display {
  padding: 0.35rem;
  background-color: #694873;
}
.stats .abilityScores .values {
  display: grid;
  grid: "score mod" "save save";
  gap: 0.25rem;
  justify-items: center;
}
.stats .abilityScores .values .score, .stats .abilityScores .values .mod {
  width: 3rem;
}
.stats .abilityScores .values .score {
  grid-area: score;
  justify-self: right;
}
.stats .abilityScores .values .mod {
  grid-area: mod;
  justify-self: left;
}
.stats .abilityScores .values .save {
  grid-area: save;
  width: 6.25rem;
}
.stats .abilityScores .score-modal {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
}
.stats .skills {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  padding: 0;
  background-color: #3a2540;
  gap: 0.35rem;
}
.stats .skills .skill {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem;
}
.stats .skills .skill h3 {
  font-size: 0.875rem;
  width: 45%;
  text-align: left;
}
.stats .skills .skill p {
  font-size: 1.25rem;
  width: 2.75rem;
  height: 2.5rem;
  padding: 0;
  line-height: 2.5rem;
}

.hp-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.hp-modal h2 {
  margin: 0;
}
.hp-modal hr {
  margin: 0.25rem 0;
}
.hp-modal input {
  width: 5rem;
}
.hp-modal .info {
  background-color: #694873;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hp-modal .hp {
  padding: 1rem;
}
.hp-modal .options {
  width: 100%;
}
.hp-modal .options .controls {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.hp-modal .options .controls button {
  width: 100%;
  background-color: #8B728E;
  border-radius: 0;
  border-left: 1px solid #694873;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  transition: none;
}
.hp-modal .options .controls button:active {
  border: inherit;
}
.hp-modal .options .controls .selected {
  background-color: #3a2540;
  text-shadow: 0.2rem 0.2rem 0.25rem #8B728E;
}
.hp-modal .options .input-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hp-modal .options .input-display .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hp-modal .options .input-display .buttons button {
  background-color: #8B728E;
  width: 3.5rem;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
}
.hp-modal .options .hidden {
  display: none;
}

.init-modal {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}
.init-modal h2 {
  margin: 0;
}
.init-modal .mod {
  width: 5.5rem;
  padding: 1rem;
  margin: auto;
}
.init-modal .add-up {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}
.init-modal .add-up h3 {
  font-size: 1rem;
}
.init-modal .add-up input {
  width: 3.5rem;
  margin-top: 0.5rem;
}

.passive-modal {
  display: grid;
  gap: 1.5rem;
}
.passive-modal h2 {
  margin: 0;
}
.passive-modal .mod {
  width: 4.5rem;
  padding: 1rem;
  margin: auto;
}
.passive-modal .options {
  display: grid;
  grid: 1fr/1fr 2fr;
  gap: 0.5rem;
  justify-items: center;
}
.passive-modal .options h3 {
  font-size: 1.25rem;
}
.passive-modal .options select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #8B728E;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.25rem #3a2540;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
  outline: none;
  border: none;
  text-align: center;
}
.passive-modal .options .score select {
  width: 7rem;
}
.passive-modal .options .skill select {
  width: 9.5rem;
}
.passive-modal .add-up {
  display: grid;
  grid: 1fr/repeat(4, 1fr);
  align-items: last baseline;
  gap: 0.25rem;
  font-size: 1.5rem;
}
.passive-modal .add-up h3 {
  width: 4.5rem;
  font-size: 0.825rem;
}
.passive-modal .add-up input {
  width: 3.5rem;
  margin-top: 0.5rem;
}

.stat-modal {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  gap: 1.5rem;
}
.stat-modal .info {
  background-color: #694873;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stat-modal .info h3 {
  font-size: 1.15rem;
}
.stat-modal .info p, .stat-modal .info input[type=number] {
  margin: auto;
  width: 75%;
}
.stat-modal .mod {
  grid-column: span 2;
  width: 5rem;
  margin: auto;
}
.stat-modal .mod h2 {
  margin: 0;
}
.stat-modal .misc {
  grid-column: span 2;
  margin: auto;
}
.stat-modal .misc input[type=number] {
  width: 5rem;
}
.stat-modal .prof {
  grid-column: span 2;
  padding: 1rem;
  align-items: flex-start;
  gap: 1rem;
  margin: auto;
}
.stat-modal .prof label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 550px) {
  .form .traits {
    grid: repeat(4, 1fr)/repeat(12, 1fr);
  }
  .form .traits .name {
    grid-column: 1/7;
  }
  .form .traits .race {
    grid-column: 7/13;
  }
  .form .traits .level {
    grid-column: 1/4;
  }
  .form .traits .class {
    grid-column: 4/13;
  }
  .form .traits .ac {
    grid-column: 3/6;
  }
  .form .traits .hp {
    grid-column: 8/11;
  }
  .form .traits .speed {
    grid-column: 3/6;
  }
  .form .traits .hit {
    grid-column: 8/11;
  }
  .form .base-stats, .form .saving-throws {
    grid: 1fr/1fr 1fr 1fr;
  }
  .form .skills {
    grid: 1fr/1fr 1fr;
  }
}
@media screen and (max-width: 550px) {
  .overview .genStats {
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 1rem;
  }
  .overview .baseStats {
    grid: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 1rem;
  }
  .overview hr {
    margin-top: 20px;
  }
  .aboutGrid {
    grid: "logo" "game" "hr" "portraits" "players" "about";
  }
  .aboutGrid .about-logo {
    height: 50px;
  }
}
body {
  background-color: #694873;
}

.app {
  font-family: "Times New Roman", Times, serif;
  background-color: #8B728E;
  min-height: 100vh;
  margin: 0;
}

.logo {
  height: 50px;
}

.list-borders li {
  border-bottom: 1px solid #8B728E;
}

.primary {
  background-color: #8B728E !important;
}

.primary-color {
  color: #8B728E;
}

.secondary {
  background-color: #694873 !important;
}

.secondary-color {
  color: #694873;
}

.tertiary {
  background-color: #3a2540 !important;
}

.tertiary-color {
  color: #3a2540;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  width: 90%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
a.active {
  text-shadow: 0.2rem 0.2rem 0.25rem #8B728E;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: #8B728E;
  border-radius: 0;
}
.dropdown-menu:active, .dropdown-menu:focus {
  outline: none;
  border: none;
}/*# sourceMappingURL=index.css.map */