@use 'variables';
@use 'forms';

.app {
    background-color: variables.$primary-color;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.grid-container {
    padding: 1rem;
}

.grid {
    margin: auto;
    background-color: variables.$secondary-color;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 2rem;
    width: 90%;
    height: 100%;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 0 0.5rem 0.5rem variables.$shadow inset;
    flex-wrap: wrap;

    .newCharItem{
        text-decoration: none;
        color: lightgrey;
    }

    .charGridItem {
        display: flex;
        justify-content: center;
        min-width: 10rem;
        max-width: 20rem;
        min-height: 25rem;
        max-height: 25rem;
        padding: 1rem;
        background-color: variables.$primary-color;
        box-shadow: 0 0 0.5rem 0.5rem variables.$shadow;
        text-shadow: 0.25rem 0.25rem 0.25rem variables.$shadow;
        font-size: large;
        font-family: variables.$font;
        
        .newCharItemText{
            text-align: center;
            margin: auto;
            font-size: 2.5rem;
        }

        .itemLink{
            text-decoration: none;

            .itemImage {
                max-width: 100%;
                max-height: 50%;
                min-height: 25%;
            }
    
            .itemText {
                text-align: center;
                color: lightgrey;
            }
        }
    }
}

.stats {
    font-size: large;
    font-family: variables.$font;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem variables.$shadow;

    h1 {
        text-align: center;
    }

    hr {
        margin-top: -1rem;
        align-self: center;
        width: 15%;
    }
}

.logo {
    height: 50px;
}

.list-borders {
    li {
        border-bottom: 1px solid variables.$primary-color;
    }
}

.primary {
    background-color: variables.$primary-color;
    text-shadow: 0.25rem 0.25rem 0.25rem variables.$secondary-color;
    font-family: variables.$font;

    &:hover {
        text-shadow: 0.25rem 0.25rem 0.25rem variables.$primary-color;
    }
}
.primary-color {
    color: variables.$primary-color;
}

.secondary {
    font-family: variables.$font;
    background-color: variables.$secondary-color;
}

.secondary-color {
    color: variables.$secondary-color;
}

.tertiary {
    font-family: variables.$font;
    color: white;
    background-color: variables.$shadow;
    margin: 0rem 3rem 0rem 3rem;
    text-shadow: 0.25rem 0.25rem 0.25rem variables.$primary-color;
}

.tertiary-color {
    color: variables.$tertiary-color;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    min-width: 75%;
}

.spell-desc {
    max-height: 10rem;
    overflow: hidden scroll;
}

a {
    text-decoration: none;
    color: white;
    font-family: variables.$font;

    &.active {
        text-shadow: 0.25rem 0.25rem 0.25rem variables.$primary-color;
    }
}

.characterView  {
    padding: 1rem 1rem 3.5rem;

    nav {
        background-color: variables.$secondary-color;
        justify-content : space-around;
    }
}

.overview {
    font-family: variables.$font;
    text-shadow: 0.25rem 0.25rem 0.25rem variables.$shadow;
    
    h1 {
        text-align: center;
    }
}

.noteGallery {
    font-family: variables.$font;
    text-shadow: 0.25rem 0.25rem 0.25rem variables.$shadow;
}

.portraits {
    width: 100%;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;

    img {
    width: 100%;
    }
}

.home {
    display: grid;
    gap: 1rem;
    grid: 'logo'
    'portraits'
    'text';

    &-logo { grid-area: logo; }
    &-text { grid-area: text; }
    .portraits { grid-area: portraits; }
}

.deleteButton {
    font-family: variables.$font;
    background-color: variables.$secondary-color;
    color: white;
    border-radius: 2rem;
    border-style: none;

    &:hover {
        background-color: variables.$shadow;
    }
}

@media screen and (min-width: 850px) {
    .home {
        grid: 'logo logo'
        'text portraits'
        'text .';
    }
}

