.form-container {
  text-align: center;
  padding: 1rem;
}

.form {
  width: 100%;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
}
.form fieldset {
  display: grid;
  border-top: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  gap: 1rem;
}
.form fieldset legend {
  float: none;
  font-size: 2rem;
  width: auto;
  padding: 1rem;
}
.form label {
  display: grid;
  grid: 1fr/1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #694873;
  font-size: 1.5rem;
  border: 1px solid black;
}
.form label input::-webkit-outer-spin-button,
.form label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form label .input {
  display: block;
  height: 2.5rem;
  width: 75%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: auto;
}
.form input[type=number] {
  width: 2.5rem;
}
.form .traits {
  width: 100%;
  display: grid;
  grid: repeat(8, 1fr)/1fr;
  gap: 1rem;
}
.form .base-stats, .form .saving-throws {
  grid: 1fr/1fr 1fr;
}
.form input[type=checkbox] {
  display: inline;
  height: 1rem;
}
.form .saving-throws label, .form .skills label {
  grid: 1fr/2fr 1fr;
  text-align: center;
}
.form .skills {
  grid: 1fr/1fr;
}
.form .optional .input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}
.form button[type=submit] {
  width: 75%;
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
  background-color: #694873;
  color: white;
}
.form .textarea {
  width: 100%;
}

.grid-2 {
  grid: repeat(2, 1fr)/repeat(6, 1fr);
}
.grid-2 .username, .grid-2 .password {
  grid-column: span 3;
}
.grid-2 .submit {
  grid-column: 2/6;
}

@media screen and (min-width: 550px) {
  .form .traits {
    grid: repeat(4, 1fr)/repeat(12, 1fr);
  }
  .form .traits .name {
    grid-column: 1/7;
  }
  .form .traits .race {
    grid-column: 7/13;
  }
  .form .traits .level {
    grid-column: 1/4;
  }
  .form .traits .class {
    grid-column: 4/13;
  }
  .form .traits .ac {
    grid-column: 3/6;
  }
  .form .traits .hp {
    grid-column: 8/11;
  }
  .form .traits .speed {
    grid-column: 3/6;
  }
  .form .traits .hit {
    grid-column: 8/11;
  }
  .form .base-stats, .form .saving-throws {
    grid: 1fr/1fr 1fr 1fr;
  }
  .form .skills {
    grid: 1fr/1fr 1fr;
  }
}
.app {
  background-color: #8B728E;
  min-height: 100vh;
  margin: 0;
  color: white;
}

.grid-container {
  padding: 1rem;
}

.grid {
  margin: auto;
  background-color: #694873;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 2rem;
  width: 90%;
  height: 100%;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
  flex-wrap: wrap;
}
.grid .newCharItem {
  text-decoration: none;
  color: lightgrey;
}
.grid .charGridItem {
  display: flex;
  justify-content: center;
  min-width: 10rem;
  max-width: 20rem;
  min-height: 25rem;
  max-height: 25rem;
  padding: 1rem;
  background-color: #8B728E;
  box-shadow: 0 0 0.5rem 0.5rem #3a2540;
  text-shadow: 0.25rem 0.25rem 0.25rem #3a2540;
  font-size: large;
  font-family: "Luminari";
}
.grid .charGridItem .newCharItemText {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
}
.grid .charGridItem .itemLink {
  text-decoration: none;
}
.grid .charGridItem .itemLink .itemImage {
  max-width: 100%;
  max-height: 50%;
  min-height: 25%;
}
.grid .charGridItem .itemLink .itemText {
  text-align: center;
  color: lightgrey;
}

.stats {
  font-size: large;
  font-family: "Luminari";
  color: white;
  text-shadow: 0.25rem 0.25rem 0.25rem #3a2540;
}
.stats h1 {
  text-align: center;
}
.stats hr {
  margin-top: -1rem;
  align-self: center;
  width: 15%;
}

.logo {
  width: 100%;
  height: 50px;
}

.list-borders li {
  border-bottom: 1px solid #8B728E;
}

.primary {
  background-color: #8B728E;
  text-shadow: 0.25rem 0.25rem 0.25rem #694873;
  font-family: "Luminari";
}
.primary:hover {
  text-shadow: 0.25rem 0.25rem 0.25rem #8B728E;
}

.primary-color {
  color: #8B728E;
}

.secondary {
  font-family: "Luminari";
  background-color: #694873;
}

.secondary-color {
  color: #694873;
}

.tertiary {
  font-family: "Luminari";
  color: white;
  background-color: #3a2540;
  margin: 0rem 3rem 0rem 3rem;
  text-shadow: 0.25rem 0.25rem 0.25rem #8B728E;
}

.tertiary-color {
  color: #6c757d;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Luminari";
}
a.active {
  text-shadow: 0.25rem 0.25rem 0.25rem #8B728E;
}

.characterView nav {
  background-color: #694873;
  justify-content: space-around;
}

.overview {
  font-family: "Luminari";
  text-shadow: 0.25rem 0.25rem 0.25rem #3a2540;
}
.overview h1 {
  text-align: center;
}

.noteGallery {
  font-family: "Luminari";
  text-shadow: 0.25rem 0.25rem 0.25rem #3a2540;
}/*# sourceMappingURL=index.css.map */