@use 'variables' as v;
@use 'char-grid';
@use 'char-view';
@use 'combat';
@use 'forms';
@use 'home';
@use 'inventory';
@use 'notes';
@use 'overview';
@use 'spells';
@use 'stats';
@use 'media-queries';

body {
  background-color: v.$secondary-color;
}

.app {
  font-family: v.$font;
  background-color: v.$primary-color;
  min-height: 100vh;
  margin: 0;
}

.logo { height: 50px; }

.list-borders {
  li { border-bottom: 1px solid v.$primary-color; }
}

.primary { background-color: v.$primary-color !important; }

.primary-color { color: v.$primary-color; }

.secondary { background-color: v.$secondary-color !important; }

.secondary-color { color: v.$secondary-color; }

.tertiary { background-color: v.$tertiary-color !important; }

.tertiary-color { color: v.$tertiary-color; }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  min-width: 75%;
}

a {
  text-decoration: none;
  color: white;

  &.active { text-shadow: v.$light-shadow; }
}