@use 'variables';
@use 'forms';

body {
  min-height: 100vh;
  margin: 0;
}

.app {
    background-color: variables.$primary-color;
}

.grid {
    margin: auto;
    background-color: variables.$secondary-color;
    display: flex;
    padding: 1rem;
    width: 90%;
    height: 100%;
    justify-content: center;
    box-shadow: 0 0 0.5rem 0.5rem #3a2540 inset;
    flex-wrap: wrap;
    justify-content: flex-start;

    .charGridItem {
        display: flex;
        justify-content: center;
        min-width: 20rem;
        max-width: 15rem;
        min-height: 25rem;
        max-height: 25rem;
        padding: 1rem;
        margin: 1rem 0 0.5rem 3.5rem;
        background-color: variables.$primary-color;
        box-shadow: 0 0 0.5rem 0.5rem #3a2540;
        font-family: 'Bookman', 'URW Bookman L', 'Serif';

        .newCharItem{
            text-decoration: none;
            color: lightgrey;
        }
        
        .newCharItemText{
            text-align: center;
            margin: auto;
        }

        .itemLink{
            text-decoration: none;

            .itemImage {
                max-width: 100%;
                max-height: 50%;
                min-height: 25%;
            }
    
            .itemText {
                text-align: center;
                color: lightgrey;
            }
        }
    }
}
